.DS_Store

*.hex
*.lst
*.err

*.aux
*.log
*.lof
*.lot
*.out
*.toc
*.gz
Assembly-programming-with-AVR-de.tex
Assembly-programming-with-AVR-de.pdf
Assembly-programming-with-AVR-en.tex
Assembly-programming-with-AVR-en.pdf

*-eps-converted-to.pdf

# KiCAD noise
*.000
*.bak
*-cache.lib

*.sh~
*.tex~
